@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #fbfbfb;
  color: #555;
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.is-active {
  opacity: 0.6;
  opacity: 1;
  transform: translate(0, 0);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  background-color: #fbfbfb;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.site-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px 5%;
  position: relative;
}
.site-header .header-logo {
  font-size: 24px;
}
@media screen and (min-width: 600px) {
  .site-header .header-logo {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-header .header-logo {
    margin-bottom: 0;
  }
}
.site-header .menu input {
  position: absolute;
  right: 7%;
  opacity: 0;
}
.site-header .menu .g-menu-btn {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .site-header .menu .g-menu-btn {
    display: none;
  }
}
.site-header .menu .g-menu-btn span,
.site-header .menu .g-menu-btn span:before,
.site-header .menu .g-menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 24px;
  border-radius: 3px;
  background-color: #555;
  position: absolute;
  transition: all 0.25s;
  /*アニメーションの設定*/
}
.site-header .menu .g-menu-btn span:before {
  bottom: 8px;
}
.site-header .menu .g-menu-btn span:after {
  top: 8px;
}
.site-header .menu #g-menu:checked ~ .g-menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
.site-header .menu #g-menu:checked ~ .g-menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.site-header .menu #g-menu:checked ~ .g-menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.site-header .menu .header-nav-sp {
  background-color: #fbfbfb;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding: 130px 5% 0 5%;
  transition: all 0.25s;
}
@media screen and (min-width: 600px) {
  .site-header .menu .header-nav-sp {
    display: none;
  }
}
.site-header .menu .header-nav-sp .header-nav_list-item {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
}
.site-header .menu .header-nav-sp .header-nav_list-item.-close {
  position: relative;
  top: 40px;
  font-size: 16px;
}
.site-header .menu .header-nav-sp .header-nav_list-item-link-img {
  width: 16px;
  margin-right: 8px;
}
.site-header .menu #g-menu:checked ~ .header-nav-sp {
  right: 0;
}
.site-header .header-nav-pc {
  display: none;
}
@media screen and (min-width: 600px) {
  .site-header .header-nav-pc {
    display: block;
  }
}
.site-header .header-nav-pc .header-nav_list {
  display: flex;
  align-items: center;
}
.site-header .header-nav-pc .header-nav_list-item {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .site-header .header-nav-pc .header-nav_list-item {
    width: 25%;
  }
}
@media screen and (min-width: 600px) {
  .site-header .header-nav-pc .header-nav_list-item:not(:last-child) {
    margin-right: 24px;
  }
}
.site-header .header-nav-pc .header-nav_list-item-link {
  font-size: 15px;
}
@media screen and (min-width: 600px) {
  .site-header .header-nav-pc .header-nav_list-item-link {
    font-size: 16px;
  }
}
.site-header .header-nav-pc .header-nav_list-item-link-img {
  display: block;
  width: 20px;
  margin: 0 auto;
}

main {
  flex: 1;
  overflow-x: hidden;
}

.main-container {
  padding: 0 8px;
  padding: 0 5%;
}

.footer-container {
  height: 104px;
  width: 100%;
  background-color: #fbfbfb;
  position: relative;
  z-index: -1;
}

.footer-copyright {
  position: absolute;
  bottom: 16px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.section-head {
  margin-bottom: 48px;
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.08em;
}

.page-top {
  position: fixed;
  bottom: 40px;
  right: 32px;
  z-index: 1;
  padding: 16px 6px 4px 0;
  border-right: 1px solid #333;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 16px;
  line-height: 1;
  color: #333;
  opacity: 0;
  transform: translate(0, 40px);
  transition: opacity 0.5s, transform 0.75s;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .page-top {
    right: 48px;
  }
}
.page-top:before {
  position: absolute;
  top: 7px;
  right: -13px;
  transform: rotate(60deg);
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .page-top:hover {
    color: #555;
    border-right: 1px solid #555;
  }
  .page-top:hover:before {
    background-color: #555;
  }
}
/*# sourceMappingURL=style.css.map */