@charset "UTF-8";

//------------------------------------------------------------------------------
// リセットCSS
//------------------------------------------------------------------------------

html{
    font-size: 62.5%;
}

body{
    background-color: #f3f6f9;
    color: #555;
    font-size: 1.6rem;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, sans-serif;
}

img{
    object-fit: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}