@charset "UTF-8";

//------------------------------------------------------------------------------
// タグのスタイル一括指定
//------------------------------------------------------------------------------

html{
    font-size: 62.5%;
}
body{
    background-color: #f3f6f9;
    color: #555;
    font-size: 1.6rem;
    line-height: 1.4;
}

a, abbr, acronym, address, applet, article, aside, audio, b, 
big, blockquote, body, canvas, caption, center, cite, code, 
dd, del, details, dfn, div, dl, dt, em, embed, fieldset, 
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, 
header, hgroup, html, i, iframe, img, ins, kbd, label, legend, 
li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, 
samp, section, small, span, strike, strong, sub, summary, 
sup, table, tbody, td, tfoot, th, thead, time, tr, tt, 
u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, sans-serif;
}

img{
    max-width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}