@charset "UTF-8";

//------------------------------------------------------------------------------
// _common/layoutのファイルをインポート
//------------------------------------------------------------------------------

.site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    overflow-x: hidden;
}

@import "layout/header";
@import "layout/footer";
