@charset "utf-8";

//------------------------------------------------------------------------------
// 汎用パーツ
//------------------------------------------------------------------------------

// 見出し
.section-head{
    margin-bottom: $s-02;
    text-align: center;
    h2{
        font-size: $s-04;
        font-weight: normal;
        letter-spacing: .08em;
    }
}