//------------------------------------------------------------------------------
// リセットCSS
//------------------------------------------------------------------------------

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body{
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    // background-color: #f3f6f9;
    background-color: #fbfbfb;
    color: #555;
    font-size: 1.6rem;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media(prefers-reduced-motion:reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
    }
}