@charset "utf-8";
//------------------------------------------------------------------------------
// TOPページ
//------------------------------------------------------------------------------

// ファイルの読み込み
@use "../common/setting";
@use "../common/settings/mixin" as m;
@use "../common/settings/function" as f;


.main-container{

    // セクション共通の設定
    .cont-section{
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    
    // メインビジュアル
    //----------------------------------------------------------------
    .main-visual{
        max-width: 1000px;
        min-height: 70vh;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @include m.mq(sm){
            min-height: 80vh;
        }

        // キャッチコピー
        .main-visual_catch{
            font-size: f.rem(32);
            font-size: 9.3vw;
            font-size: unquote('max(9.3vw, 2.4rem)');

            @include m.mq(sm){
                font-size: f.rem(48);
                font-size: unquote('max(7vw, 3rem)');
            }

            @include m.mq(md){
                font-size: f.rem(56);
            }
        }
    }


    // Work
    //----------------------------------------------------------------
    .section-work{
        .section-work_area{
            @include m.mq(sm){
                display: flex;
                justify-content: space-between;
                gap: 5%;
            }
        }

        .section-work_area-item{
            width: 90%;
            max-width: 400px;
            margin: 0 auto;
            
            &:not(:last-child){
                margin-bottom: 48px;
            }
        }

        .section-work_area-item-head{
            margin-bottom: 8px;
            text-align: center;
            font-size: f.rem(24);
			font-weight: normal;
            letter-spacing: .08em;
        }

        .section-work_area-item-img{
            margin-bottom: 8px;
            text-align: center;
            
            img{
                width: 56px;
            }
        }

        .section-work_area-item-text{
            text-align: left;
            font-size: f.rem(14);
			line-height: 2;
        }
    }


    // About
    //----------------------------------------------------------------

}