//--------------------------------------------------------------------
// コピーライト
//--------------------------------------------------------------------

// ファイルの読み込み
@use "../settings/mixin" as m;


.footer-copyright {
	position: absolute;
	bottom: 16px;

	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
}