//--------------------------------------------------------------------
// 見出し
//--------------------------------------------------------------------

// ファイルの読み込み
@use "../settings/mixin" as m;
@use "../settings/function" as f;


.section-head {
	margin-bottom: 48px;
	text-align: center;
	// font-size: f.rem(32);
	font-size: 32px;
	font-weight: normal;
	letter-spacing: .08em;
}