//--------------------------------------------------------------------
// 追従するトップへ戻るボタン
//--------------------------------------------------------------------

// ファイルの読み込み
@use "../settings/mixin" as m;


.page-top {
	position: fixed;
	bottom: 40px;
	right: 32px;

	padding: 16px 6px 4px 0;
	border-right: 1px solid #555;
	writing-mode: vertical-rl;
	font-size: 16px;
	line-height: 1;
	color: #555;
	opacity: 0;
	transform: translate(0, 40px);
	transition: opacity .5s, transform .75s;
	cursor: pointer;

	@include m.mq(sm) {
		right: 48px;
	}

	// 矢印
	&:before {
		position: absolute;
		top: 7px;
		right: -13px;
		transform: rotate(60deg);

		content: "";
		display: block;
		width: 16px;
		height: 1px;
		background-color: #555;
	}

	&:hover {
		@include m.mq(md) {
			color: #777;
			border-right: 1px solid #777;

			&:before {
				background-color: #777;
			}
		}
	}
}

// スクロールされたら追加されるクラス
.is-active {
	opacity: .6;
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}