//------------------------------------------------------------------------------
// サイトのベースCSS
//------------------------------------------------------------------------------

body {
	background-color: #fbfbfb;
	color: #555;
	font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, sans-serif;
}