//------------------------------------------------------------------------------
// サイトのベースCSS
//------------------------------------------------------------------------------

body {
	background-color: #fbfbfb;
	color: #555;
	font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, sans-serif;
}

.is-active {
	opacity: .6;
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}