//------------------------------------------------------------------------------
// mixinを定義
//------------------------------------------------------------------------------

// メディアクエリ ブレイクポイント関連
// -------------------------------------------------------------------

// ブレイクポイントのキーを設定
$breakpoints: (
	sm: 'screen and (min-width: 600px)',
	md: 'screen and (min-width: 768px)',
	lg: 'screen and (min-width: 1024px)',
	xl: 'screen and (min-width: 1280px)',
	xxl: 'screen and (min-width: 1440px)',
) !default;

// ブレイクポイントを定義
@mixin mq($bp) {
	@media #{map-get($breakpoints, $bp)} {
		@content;
	}
}