//------------------------------------------------------------------------------
// 変数を定義
//------------------------------------------------------------------------------

// ブレイクポイントを定義
$breakpoints: ('sm': (min-width: 600px),
	'md': (min-width: 768px),
	'lg': (min-width: 1024px),
	'xl': (min-width: 1280px),
	'xxl': (min-width: 1440px),
) !default;

// カラーを定義
$gray: #f0f0f0;


// コンテンツ幅
$cont-width: 1000px;