//------------------------------------------------------------------------------
// フッター
//------------------------------------------------------------------------------

.footer-container {
	height: 104px;
	width: 100%;
	background-color: #fbfbfb;

	position: relative;
	z-index: -1;
}