//------------------------------------------------------------------------------
// フッター
//------------------------------------------------------------------------------

// ファイルの読み込み
@use "../settings/mixin" as m;
@use "../settings/function" as f;


.footer-container {
	height: 104px;
	width: 100%;
	background-color: #fbfbfb;

	position: relative;

	// コピーライト
	.footer-copyright {
		position: absolute;
		bottom: 16px;
	
		display: block;
		width: 100%;
		text-align: center;
		font-size: 12px;
	}
}