//------------------------------------------------------------------------------
// メイン
//------------------------------------------------------------------------------

// ファイルの読み込み
@use "../settings/mixin" as m;


main {
	flex: 1;
	overflow-x: hidden;
}

.main-container {
	padding: 0 8px;
	padding: 0 5%;
}