//------------------------------------------------------------------------------
// メイン
//------------------------------------------------------------------------------

main {
	flex: 1;
	overflow-x: hidden;
}

.main-container {
	padding: 0 8px;
	padding: 0 5%;
}