@charset "utf-8";

//------------------------------------------------------------------------------
// フッター
//------------------------------------------------------------------------------

footer {
    .footer-container {
        height: 104px;
        width: 100%;
        // background-color: #fff;
        background-color: #fbfbfb;

        position: relative;
    }

    .footer-copyright {
        position: absolute;
        bottom: 4px;

        display: block;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}