@charset "utf-8";

//------------------------------------------------------------------------------
// フッター
//------------------------------------------------------------------------------

footer{
    .container{
        height: 104px;
        width: 100%;
        background-color: #fff;

        .footer-copyright{
            display: block;
            text-align: center;
        }
    }
}