@charset "utf-8";

//------------------------------------------------------------------------------
// フッター
//------------------------------------------------------------------------------

footer{
    .footer-container{
        height: 104px;
        width: 100%;
        background-color: #fff;

        position: relative;

        .footer-copyright{
            position: absolute;
            bottom: $s-half;

            display: block;
            width: 100%;
            text-align: center;
        }
    }
}