@charset "utf-8";

//------------------------------------------------------------------------------
// ヘッダー
//------------------------------------------------------------------------------

.site-header{
    // background-color: #fff;
    background-color: #fbfbfb;
    padding: 16px 5%;
    
    position: sticky;
    top: 0;
 
    .header-container{       
        @include mq(sm){
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $cont-width;
            margin: 0 auto;
        }
    }


    // ロゴ
    //----------------------------------------------------------------
    .header-logo{
        font-size: rem(24);

        @include mq(md){
            margin-bottom: 0;
        }
    }


    // ナビゲーションメニュー
    //----------------------------------------------------------------
    .header-nav-sp{
        display: none;

        @include mq(md){
            display: none;
        }
        
        .header-nav_list{

        }
        
        .header-nav_list-item{

        }

        .header-nav_list-item-link{

        }
    }
    
    .header-nav-pc{
        display: none;

        @include mq(sm){
            display: block;
        }
        
        .header-nav_list{
            display: flex;
            align-items: center;
        }
        
        .header-nav_list-item{
            margin: 0 auto;
            text-align: center;

            @include mq(sm){
                width: 25%;
            }

            &:not(:last-child){
                @include mq(sm){
                    margin-right: 24px;
                }
            }
        }

        .header-nav_list-item-link{
            font-size: rem(15);

            @include mq(sm){
                font-size: rem(16);
            }

            img,
            svg{
                display: block;
                width: 20px;
                margin: 0 auto;
            }
        }
    }
}