@charset "utf-8";

//------------------------------------------------------------------------------
// ヘッダー
//------------------------------------------------------------------------------

header{
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    
    position: sticky;
    top: 0;
 
    .header-container{
        margin: 0 5%;
        padding: $s-02 0;
        
        @include mq(sm){
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $cont-width;
            margin: 0 auto;
            padding: $s-02 $s-04;
        }
    }


    // ロゴ
    //----------------------------------------------------------------
    .header-logo{
        font-size: $s-03;

        @include mq(md){
            margin-bottom: 0;
        }
    }


    // ナビゲーションメニュー
    //----------------------------------------------------------------
    .header-nav-sp{
        display: none;

        @include mq(md){
            display: none;
        }
        
        .header-nav_list{

        }
        
        .header-nav_list-item{

        }

        .header-nav_list-item-link{

        }
    }
    
    .header-nav-pc{
        display: none;

        @include mq(sm){
            display: block;
        }
        
        .header-nav_list{
            display: flex;
            align-items: center;
        }
        
        .header-nav_list-item{
            margin: 0 auto;
            text-align: center;

            @include mq(sm){
                width: 25%;
            }

            &:not(:last-child){
                @include mq(sm){
                    margin-right: $s-03;
                }
            }
        }

        .header-nav_list-item-link{
            font-size: 1.5rem;

            @include mq(sm){
                font-size: 1.6rem;
            }

            img,
            svg{
                display: block;
                width: 20px;
                margin: 0 auto;
            }
        }
    }
}