@charset "utf-8";

//------------------------------------------------------------------------------
// ヘッダー
//------------------------------------------------------------------------------

header{
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    
    position: sticky;
    top: 0;
 
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $s-08;
        width: 100%;
        padding: $s-02;
        background-color: #fff;
    }


    // ロゴ
    //----------------------------------------------------------------
    .header-logo{
        font-size: $s-04;
    }


    // ナビゲーションメニュー
    //----------------------------------------------------------------
    .header-nav{
        display: none;
        
        .header-nav_list{
            display: flex;
        }
        
        .header-nav_list-item{
            margin-left: $s-05;
        }
    }
}