@charset "UTF-8";

//------------------------------------------------------------------------------
// 変数を定義
//------------------------------------------------------------------------------

// ブレイクポイントを定義
$breakpoints: (
  'sm': (min-width: 600px),
  'md': (min-width: 768px),
  'lg': (min-width: 1024px),
  'xl': (min-width: 1280px),
  'xxl': (min-width: 1440px),
) !default;

// コンテンツ幅
$cont-width: 1200px;

// spacing
$s-0: 0;
$s-half: .4rem;
$s-01: .8rem;
$s-02: 1.6rem;
$s-03: 2.4rem;
$s-04: 3.2rem;
$s-05: 4.0rem;
$s-06: 4.8rem;
$s-07: 5.6rem;
$s-08: 6.4rem;
$s-09: 7.2rem;
$s-10: 8.0rem;
$s-11: 8.8rem;
$s-12: 9.6rem;
$s-13: 10.4rem;
$s-14: 11.2rem;
$s-15: 12rem;
$s-16: 12.8rem;
$s-17: 13.6rem;
$s-18: 14.4rem;
$s-19: 15.2rem;
$s-20: 16rem;

